.carousel-two-main {
  background-color: #9b9fa5d7;
  display: flex;
  margin-top: 20px;
  border-radius: 5px;
    cursor: pointer;
    width: 189vmin;
}

.Carousel-two img {
  height: 98%;
  width: 49.5%;
  border-radius: 5px;
  justify-content: space-evenly;
  margin: 3px;
}
.Carousel-two-img:hover {
  transform: scale(1.008);
}
