.pannier {
  display: flex;
  align-items: center;
  min-width: 190vmin;
  border-radius: 3px;
}
.final-command {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.713);
  min-height: 50vmin;
  border-radius: 3px;
}

.pannier-Product {
  margin: 3px;
  min-height: 50vmin;
  flex: 2;
  background-color: rgba(255, 255, 255, 0.713);
  border-radius: 4px;
}
.pannier-Product2 {
  display: flex;
}

.price-quantity {
  flex: 4;
  display: flex;
  flex-direction: column;
}
.image {
  border-radius: 3px;
  height: 25vmin;
  width: 20vmin;
  margin: 3px;
}
.suprimer {
  background-color: red;
  color: aliceblue;
  font-size: x-large;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
}

.suprimer:hover {
  background-color: rgba(255, 0, 0, 0.539);
}
.image-title {
  text-align-last: justify;
}
.panier-title {
  background-color: #2e07c9bb;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  text-align: start;
  min-height: 7vmin;
  font-weight: bold;
  align-items: center;
}

.product-title-panier {
  justify-content: center;
  font-size: large;
  color: black;
  text-align: left;
  font-weight: 600;
  max-width: 50vmin;
}
