.One-product-main {
  background-color: #3f5e9c8a;
  margin-top: 20px;
  border-radius: 5px 5px 0px 0px;
  width: 189.5vmin;
  display: flex;
  font-weight: bold;
  justify-content: center;
}

.product-Image {
  max-width: 90%; /* Set the maximum height to 100% of the parent container */
  max-height: 90%; /* Set the maximum height to 100% of the parent container */
  border-radius: 5px;
  margin: 2px;
  flex: 1;
}
.product-Image-div{
  width: 65vmin;
}
.product-other-Image {
  height: 6vmin;
  margin: 2px;
  border-width: 2px;
  border-color: white;
  border-radius: 5px;
  justify-content: start;
}

.Product-details {
  text-align: start;
  margin-left: 10px;
  margin-top: 5px;
  display: grid;
  flex: 4;
  place-self: flex-start;
}
.product-title {
  font-size: x-large;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}
.product-marque {
  margin-bottom: 5px;
  font-size: large;
}
.product-description {
  font-size: medium;
  margin-bottom: 5px;
}
.product-price {
  font-size: x-large;
  margin-bottom: 20vmin;
}
.product-rank {
  font-size: larger;
  margin-bottom: 5px;
}
.buy-button {
  color: white;
  background-color: rgb(213, 140, 3);
  height: 6vmin;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  max-width: 80%;
  margin-left: 10%;
}
.buy-button:hover {
  color: white;
  background-color: rgba(209, 184, 126, 0.876);
}
