.Offeres-product-title {
  background-color: #3f5e9c8a;
  margin-top: 20px;
  border-radius: 5px 5px 0px 0px;
  width: 189vmin;
  display: flex;
  text-align: start;
  min-height: 7vmin;
  font-weight: bold;
  align-items: center;
}

.Offeres-product-title-two {
  background-color: #9c3f508a;
  margin-top: 20px;
  border-radius: 5px 5px 0px 0px;
  width: 189vmin;
  display: flex;
  text-align: start;
  min-height: 7vmin;
  font-weight: bold;
  align-items: center;
}

.Offeres-product-title-three {
  background-color: #9b9c3f8a;
  margin-top: 20px;
  border-radius: 5px 5px 0px 0px;
  width: 189vmin;
  display: flex;
  text-align: start;
  min-height: 7vmin;
  font-weight: bold;
  align-items: center;
}

.title {
  margin-left: 10px;
}

.Product-main {
  background-color: #ffffff68;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0px 0px 5px 5px;
  width: 189vmin;
  overflow-x: auto;
  
}

.Product-card {
  background-color: #ffffffc5;
  margin: 3px;
    cursor: pointer;
    border-radius: 5px;
  margin-top: 2px;
}

.Product-card:hover {
  transform: scale(1.01);
}

.Offeres-img {
  height: 240px;
  width: 30.6vmin;
  border-radius: 5px 5px 0px 0px;
}

.title-price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Offeres-title,
.Offeres-price {
  flex: 1;
  color: black;
}

.Product-main::-webkit-scrollbar {
  height: 10px;
  margin-bottom: 10px;
}

.Product-main::-webkit-scrollbar-track {
  width: 6px;
  margin-bottom: 10px;
  background-color: transparent;
}


.Product-main::-webkit-scrollbar-thumb {
  background-color:transparent;
  border-radius: 100px;
  margin-bottom: 10px;
  width: 6px;
  margin-bottom: 10px;
}

.Product-main::-webkit-scrollbar-thumb:hover {
  margin-bottom: 10px;
  width: 6px;
  margin-top: 10px;
  background-color: #ffffffaf;
}
